{% extends 'base.html.twig' %}

{% block title %}Arh index{% endblock %}

{% block body %}
    <h1>Arh index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ArhName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arh in arhs %}
            <tr>
                <td>{{ arh.id }}</td>
                <td>{{ arh.arhName }}</td>
                <td>
                    <a href="{{ path('app_arh_show', {'id': arh.id}) }}">show</a>
                    <a href="{{ path('app_arh_edit', {'id': arh.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_arh_new') }}">Create new</a>
{% endblock %}
